<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.4.2/material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .card {
            width: 300px;
            margin: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            border-radius: 4px;
            overflow: hidden;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .card-body {
            padding: 16px;
        }

        .card-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .card-text {
            font-size: 16px;
            color: #555;
            margin-bottom: 16px;
        }

        .card-date {
            font-size: 14px;
            color: #888;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Book Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Books
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBookModal">Add Book +
        </button>
    </h1>
    <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/books/add}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="author">Author</label>
                            <input type="text" class="form-control" id="author" name="author" placeholder="Enter Author"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="review">Review</label>
                            <textarea class="form-control" id="review" name="review" placeholder="Enter Review"
                                      required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="publishedDate">Published Date</label>
                            <input type="date" class="form-control" id="publishedDate" name="publishedDate" required>
                        </div>
                        <div class="form-group">
                            <label for="coverImage">Cover Image</label>
                            <input type="file" class="form-control-file" id="coverImage" name="coverImage">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="editBookModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editBookModalLabel">Edit Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editBookForm" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="edit_title">Title</label>
                            <input type="text" class="form-control" id="edit_title" name="title"
                                   placeholder="Enter Title"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="edit_author">Author</label>
                            <input type="text" class="form-control" id="edit_author" name="author"
                                   placeholder="Enter Author"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="edit_review">Review</label>
                            <textarea class="form-control" id="edit_review" name="review" placeholder="Enter Review"
                                      required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="edit_publishedDate">Published Date</label>
                            <input type="date" class="form-control" id="edit_publishedDate" name="publishedDate"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="editCoverImagePreview">Current Cover Image</label>
                            <img id="editCoverImagePreview" src="#" alt="Cover image"
                                 style="width: 100%; height: auto;">
                        </div>
                        <div class="form-group">
                            <label for="editCoverImage">Change Cover Image</label>
                            <input type="file" class="form-control-file" id="editCoverImage" name="coverImage"
                                   onchange="previewEditCoverImage();">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div th:each="book : ${books}" class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title" th:text="${book.title}">Book Title</h2>
                    <p class="card-text" th:text="${book.author}">Author Name</p>
                    <img th:src="@{/api/books/{id}/cover(id=${book.id})}" alt="Cover image"
                         style="width: 100%; height: 330px; object-fit: cover;">
                    <p class="card-date" th:text="${book.publishedDate}">Published Date</p>
                    <button class="btn btn-primary edit-btn" th:data-id="${book.id}"><i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger delete-btn" th:data-id="${book.id}"><i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.4.2/material.min.js"></script>
<script>
    $(".delete-btn").click(function () {
        const id = $(this).data("id");
        $.ajax({
            url: `/api/books/${id}`,
            type: 'DELETE',
            success: function (result) {
                location.reload();
            }
        });
    });

    $(".edit-btn").click(function () {
        const id = $(this).data("id");
        $.ajax({
            url: `/api/books/${id}`,
            type: 'GET',
            success: function (book) {
                $('#editCoverImagePreview').attr('src', `/api/books/${id}/cover`);
                $('#editCoverImage').val('');

                $('#edit_title').val(book.title);
                $('#edit_author').val(book.author);
                $('#edit_review').val(book.review);
                $('#edit_publishedDate').val(book.publishedDate);

                $('#editBookForm').attr('action', `/api/books/edit/${id}`);

                $('#editBookModal').modal('show');
            }
        });
    });

    function previewEditCoverImage() {
        var file = document.querySelector('#editCoverImage').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            $('#editCoverImagePreview').attr('src', reader.result);
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            $('#editCoverImagePreview').attr('src', '');
        }
    }

    $('#editBookForm').submit(function (event) {
        event.preventDefault();

        var formData = new FormData(this);
        var actionUrl = $(this).attr('action');

        $.ajax({
            type: 'PUT',
            url: actionUrl,
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                $('#editBookModal').modal('hide');
                location.reload();
            },
            error: function (result) {
                console.log('ERRORS: ' + JSON.stringify(result));
            }
        });
    });


</script>

</body>
</html>
